<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <center>
        <h1 class="text-danger">Display_Webpages :- </h1>
         <table class="table bg-warning text-center  ">
    <tr class="text-white">
        
        <th>Topic_name</th>
        <th>Name</th>
        <th>Url</th>
        <th>Email</th>
    </tr>
    {% for wo in QLWO %}
    <tr class="text-primary text-center">
       
        <td>{{wo.topic_name}}</td>
        <td>{{wo.name}}</td>
        <td>{{wo.url}}</td>
        <td>{{wo.Email}}</td>
    </tr>
    {% endfor %}
    </table>
    </center>
</body>
</html>